@font-face {
    font-family: Open Runde;
    src: url("public/OpenRunde-Regular.otf");
}

* {
    padding: 0;
    font-family: 'Open Runde', serif;
}

@media (prefers-color-scheme: light) {
    body {
        color: #333333;
        background-color: #F3F3F3;

    }

    .foreground {
        color: #333333;
        fill: #333333;
    }

    .content {
        color: #333333;
    }

    .content::selection {
        color: #F3F3F3;
        background-color: #333333;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #F3F3F3;
        background-color: #333333;
    }

    .fill {
        color: #F3F3F3;
        fill: #F3F3F3;
    }

    .content {
        color: #F3F3F3;
    }

    .content::selection {
        color: #333333;
        background-color: #F3F3F3;
    }
}

body {
    align-content: center;
    align-items: center;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

body::-webkit-scrollbar {
    display: none;
}

button {
    border: none;
    background: none;
    font-size: larger;
}

.content {
    width: calc(100vw - 160px);
    height: calc(100vh - 30px);
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 25px;
    font-size: larger;
    overflow-y: hidden;
}

.editor {
    font-size: larger;
    font-weight: lighter;
    width: calc(100vw - 160px);
    height: calc(100vh - 30px);
    border: none;
    background: none;
    outline: none;
    resize: none;
}

.editor::-webkit-scrollbar {
    display: none;
}

#timestampDisplay {
    justify-self: start;
    font-size: larger;
    overflow-y: hidden;
    opacity: 40%;
    margin-bottom: 5px;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

::placeholder {
    color: #c5c5c5;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #c5c5c5;
}

::-ms-input-placeholder {
    color: #c5c5c5;
}



.spotlight {
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 60%;
    padding: 12px;
    position: absolute;
    background-color: #fff;
    display: inline-grid;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 38px -14px rgba(0, 0, 0, 0.48);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.spotlight.active {
    opacity: 1;
}

#searchInput {
    display: flex;
    width: 100%;
    border: none;
    font-size: x-large;
    outline: none;
}

.results {
    display: block;
    padding: 10px;
}

.secondary-fill {
    fill: #c5c5c5;
    color: #c5c5c5;
}




